@model LoginUser



<h3>Login</h3>

<form asp-action="Login"  asp-controller="Home" method="POST">
   <div> 
<label asp-for="LoginEmail">Email</label>
<span asp-validation-for="LoginEmail"></span>
<input asp-for="LoginEmail"/>
</div>
<div>
    <label asp-for="LoginPassword"></label>
    <span asp-validation-for="LoginPassword"></span>
    <input asp-for="LoginPassword" value="password" />
</div>


<button class="btn">Login</button>



</form>
